{% extends "index.html" %}

{% block content %}
<div class="mt-8">
    <h2 class="text-3xl font-bold text-white mb-2">User Measurements</h2>
    <div style="margin-bottom: 10px;">
        <button type="button" onclick="sendMeasurements()" class="bg-yellow-500 text-white py-2 px-4 rounded-md" style="display:inline-block; width:auto; margin-right: 10px;">Send my measurements to email</button>
        <a href="/pages/add-measurement/{{ user.id }}" class="bg-yellow-500 text-white py-2 px-4 rounded-md" style="display:inline-block; width:auto; margin-right: 10px;">Add measurement</a>
        <a href="#" class="bg-yellow-500 text-white py-2 px-4 rounded-md" onclick="showPlots()" style="display:inline-block; width:auto;">Show my plots</a>
    </div>


    {% if measurements %}
        <div class="grid grid-cols-4 gap-4">
            {% for measurement in measurements %}
                <div class="bg-blue-100 p-4 rounded-lg">
                    <h3 class="text-xl font-semibold text-gray-800 mb-4">{{ measurement.created_at.strftime('%Y-%m-%d %H:%M') }}</h3>
                    <p>Weight: {{ measurement.weight }}</p>
                    <p>Height: {{ measurement.height }}</p>
                    <p>Biceps: {{ measurement.biceps }}</p>
                    <p>Waist: {{ measurement.waist }}</p>
                    <p>Hips: {{ measurement.hips }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No measurements found for this user.</p>
    {% endif %}


</div>
<script>
async function sendMeasurements() {
    const userId = {{ user.id }};

    try {
        const url = `/user-measurements/export/${userId}`;
        const response = await fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        });

        if (response.ok) {
            window.location.replace("http://127.0.0.1:8000/pages/measurements/");
        } else {
            const responseData = await response.json();
            alert('Export failed: ' + responseData.detail);
        }
    } catch (error) {
        console.error('Error during export:', error);
        alert('Export failed. Please try again later.');
    }
}

async function showPlots() {
try {
    const response = await fetch('/pages/plots');
    if (response.ok) {
        window.location.href = '/pages/plots';
    } else {
        const responseData = await response.json();
        alert('Error: ' + responseData.message);
    }
} catch (error) {
    console.error('Error while fetching plots:', error);
    alert('Error: Unable to fetch plots.');
}
}
</script>
{% endblock %}
